@import url('https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic|Carter+One');

html, body {
	height: 100%;
}

body {
	padding-top: 60px;
	background-color: rgb(163,206,220);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(164,255,164,.5) 35px, rgba(164,255,164,.5) 70px);
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-repeat: repeat-y;
}

.hero-unit {
	margin: 0 0 30px 30px;
	padding: 32px 40px 30px 40px;
}

.hero-unit p {
	line-height: 24px;
}

blockquote, q, blockquote q {
	font-family: 'Lora';
}

q:before { content: '“'; } q:after { content: '”'; }

h1, h2, h3, h4, h5, h6 {
	font-family:  'Lora', sans-serif;
}

a.brand {
	font-family: 'Carter One';
	font-size: 22px !important;
}

.hero-unit a.btn {
	font-weight: normal;
}

img[src='https://www.w3.org/html/logo/downloads/HTML5_Badge_32.png'] {
	height: 16px;
	width: 16px;
}
