li.special-gpg{
    list-style-type: "🔒";
}

li.special-gpg:not(*:root) {
    list-style: none;
    margin-left: -1.5rem;
}

li.special-gpg summary:not(*:root){
    outline:none;
}

li.special-gpg summary span:not(*:root){
    display: inline;
}

li.special-gpg summary span{
    display: none;
}

li.special-gpg summary{
    list-style: none;
    outline: none;
}

li.special-gpg summary::-webkit-details-marker{
    display: none;
}

ul{
	margin: 0;
}

ul a {
	color: black;
	text-decoration: solid underline black 3px;
}

ul a:visited {
	color: black;
}

/* Color Theme Swatches in Hex
.TechCorp-1-hex { color: #303030; }
.TechCorp-2-hex { color: #181818; }
.TechCorp-3-hex { color: #F0C000; }
.TechCorp-4-hex { color: #F0D800; }
.TechCorp-5-hex { color: #FFFFFF; }
*/

@media (prefers-color-scheme: dark) {
	body{
		background: #181818;
		color: white;
		}
	ul a{
		color: white;
		text-decoration: solid underline #F0C000 3px;
	}
	ul a:visited{
		color: white;
	}
}
